.display {
    display: flex;
    justify-content: space-between;
    width: 380px;
  }

.stage{
  display: grid;
  grid-template-columns: repeat(12, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap: 1px;
  border: 1px solid #777;
  background: #222;
}