@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.text-shadow {
  text-shadow: -1px 3px 6px rgba(0, 0, 0, 0.6);
}

nav li a.active{
    background:#0B60B0;
}

table,
th,
td {
  border: 1px solid #fff;
  border-collapse: collapse;
}

.faster-one-regular {
  font-family: "Faster One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

#root{
  position: relative;
}